<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
   
   {% if form.errors %}
<p>ID나 비밀번호가 일치하지 않습니다.</p>
{% endif %}
   
    <!--<form id="signin" method="post" action="{% url 'slang:login' %}">
        {% csrf_token %}
        {{login_form.username}}
        {{login_form.password}}
        <button name="signin" type="submit">log ins</button>
    </form>-->
    <form class="form-horizontal" name="LoginForm" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                {{form.email}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                {{form.password}}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>

</body>
</html>