<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#tt').click(function(){
                parent.right();
});   
        });
    </script>
</head>
<body>
   {% if user.is_authenticated %}
    <p>tete</p>
    {% endif %}
    <form action="{% url 'accounts:register' %}" method="post">
       {% csrf_token %}
        {{form.email}}
        {{form.password1}}
        {{form.password2}}
        <button type="submit" id="tt">Signup</button>
    </form>  
</body>
</html>