{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cloud Carousel Demo</title>
 
    <!-- You can load the jQuery library from the Google Content Network.
    Probably better than from your own server. -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
     
    <!-- Load the CloudCarousel JavaScript file -->
    <script src="{% static 'js/cloud-carousel.1.0.5.js' %}"></script>
     
    <script>
    $(document).ready(function(){
    						  
    	// This initialises carousels on the container elements specified, in this case, carousel1.
    	$("#carousel1").CloudCarousel(		
    		{			
    			xPos: 350,
    			yPos: 132,
                mouseWheel:false,
    			buttonLeft: $("#left-but"),
    			buttonRight: $("#right-but"),
    			altBox: $("#alt-text"),
    			titleBox: $("#title-text"),
                FPS:100
    		}
    	);
     
    
    });
    function left(){
            $('#left-but').trigger('mouseup');  
        }
        function right(){
            $('#right-but').trigger('mouseup');  
        }
    </script>
 <style>
     iframe{
         width:200px;
         height: 200px;
     }
    </style>
</head>
    <body>
    	<!-- This is the container for the carousel. -->
        <div id = "carousel1" style="width:1000px; height:432px; margin:0 auto;background:#fff;overflow:scroll;">            
            <!-- All images with class of "cloudcarousel" will be turned into carousel items -->
            <!-- You can place links around these images -->
           
              <iframe class="cloudcarousel" name="ifm" src="{% url 'slang:login' %}" style="border-radius:50px 50px;" frameborder="1"  scrolling="no" marginheight="10" marginwidth="10">
              </iframe>
              <iframe class="cloudcarousel" name="ifm" src="{% url 'slang:Signup' %}" style="border-radius:50px 50px;" frameborder="1" scrolling="no" marginheight="10" marginwidth="10">
              </iframe>
              <iframe class="cloudcarousel" name="ifm" src="{% url 'slang:teamEnter' %}" style="border-radius:50px 50px; " frameborder="1"  scrolling="no" marginheight="10" marginwidth="10">
              </iframe>
              <iframe class="cloudcarousel" name="ifm" src="{% url 'slang:teamEnter' %}" style="border-radius:50px 50px; " frameborder="1"  scrolling="no" marginheight="10" marginwidth="10">
              </iframe>
              <iframe class="cloudcarousel" name="ifm" src="{% url 'slang:teamCreate' %}" style="border-radius:50px 50px;" frameborder="1"  scrolling="no" marginheight="10" marginwidth="10">
              </iframe>
        </div>
        
        <!-- Define left and right buttons. -->
        <input id="left-but"  type="button" value="Left">
        <input id="right-but" type="button" value="Right">
<p id="dd">ddd</p>
        <!-- Define elements to accept the alt and title text from the images. -->
        <p id="title-text"></p>
        <p id="alt-text"></p>
      
    </body>
</html>