<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    function checkForm(){
        var val = $('form[name="LoginForm"]').serialize();
        $.ajax({
            type:'POST',
            data:val,
            success:function(data){
                if(data.code == '200'){
                    $('#error').html('<p>logined</p>');
                    parent.right();  
                }
                else{
                    $('#error').html('<p>ID나 PW가 일치하지 않습니다.</p>');
                    var pw=$('input[name="password"]').val("");
                }
            }
        });
        
        return false;
            
        }
    /*$(document).ready(function(){
      $('form').attr("disabled",false).attr("readonly",fasle);
        });*/
</script>
<body>
   
   <div id="error"></div>

    <form onsubmit="return checkForm()" class="form-horizontal" name="LoginForm" method="post" disabled>
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                {{form.username}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                {{form.password}}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>

</body>
</html>