<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    *{
        margin:0;
        padding:0;
    }
     
</style>
<body style="position:absolute; width:100%; height:100%; opacity:0.8;">
    <!--{% if user.is_authenticated %}
    <p>logined</p>
    {% endif %}-->
    
    <div style=" text-align:center; top:100px; position:relative;">
        <h2 style="color:white;">Signup</h2>
    </div>
    <form method="post" action="{% url 'slang:register' %}" disabled>
       {% csrf_token %}
        <div>
            {{form.username.label}}
            {{form.username}}
        </div>
        <div>
            {{form.email.label}}
            {{form.email}}
        </div>
        <div>
            {{form.password1.label}}
            {{form.password1}}
        </div>
        <div>
            {{form.password2.label}}
            {{form.password2}}
        </div>
        <button type="submit">register</button>
    </form>
</body>
</html>