<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>slang</title>

</head>

<body>
    {% if users %}
    <ul class="user-list">
        {% for user in users %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div style=" text-align:center; top:100px; position:relative;">
        <h2 style="color:white;">chat</h2>
    </div>
    <div>
       {% for request.session.member_name %}
        {{request.session.member_name}}
        {% endfor %}
        <h1>{{team_name}}</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="teamName" placeholder="team_name" />
            <button class="btn btn-primary" name="create">채팅입력</button>
        </form>
    </div>
</body>

</html>
