<!DOCTYPE html>
<html lang="en">
    <head>
	   <meta charset="utf-8">
	   <meta http-equiv="X-UA-Compatible" content="IE=edge">
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <title>slang</title>
	   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div style=" text-align:center; top:100px; position:relative;">
        <h2 style="color:white;">create</h2>
    </div>
        <div > 
            <form method="post" disabled >
                {% csrf_token %}
                <input type="text" name="teamName" placeholder="team_name"/>
                <button class="btn btn-primary" name="create" disabled>개설</button>
            </form>
        </div>
    </body>
</html>