<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#enter').click(function(){
                parent.right();    
            });      
            $('#create').click(function(){
                parent.twoRight(); 
            });
        });
    </script>
</head>
<body>
   <div style=" text-align:center; top:100px; position:relative;">
        <h2 style="color:white;">selectBtn</h2>
    </div>
   <form disabled style="display:none;">
    <button id="enter">enter</button>
    <button id="create">create</button>
    </form>
</body>
</html>